{
    "huafeiduo": {
        "API_KEY": "-----------------------------------------------------",
        "SECRET_KEY": "--------------------------------------------------",
        "telephone_number": "--------------------------------------------"
    },
    "nexmo": {
        "KEY": "----------------------------------------------------------",
        "SECERT": "-------------------------------------------------------",
        "my_phone_number": "需使用国际区号86，但不用带'+'号"
    }
}
